html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.10/meltline.css')
    link(rel='stylesheet', href='main.css')
    script(src='./public/main.js')

  body
    div hoge
    div hogehoge